- d = JSON.pretty_generate JSON.parse(@proposal.raw_data['deployment'][@proposal.barclamp].to_json)
%p
  %label{:for => "proposal_deployment"} #{t('.title')}
  = link_to t('custom'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => false, :attr_raw => @attr_raw), :style => "float: right;"
= find_and_preserve do
  - unless request.env['HTTP_USER_AGENT'].downcase.index('msie 7')
    %textarea#proposal_deployment.editor{:name => "proposal_deployment"}
      = d
  - else
    %textarea#proposal_deployment{:name => "proposal_deployment", :rows=>30, :cols=>80}
      = d

