- d = JSON.pretty_generate JSON.parse(@proposal.raw_data['attributes'][@proposal.barclamp].to_json)
%p
  %label{:for => "proposal_attributes"} #{t('.title')}
  = link_to t('custom'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => false), :style => "float: right;"
= find_and_preserve do
  - unless request.env['HTTP_USER_AGENT'].downcase.index('msie 7')
    %textarea#proposal_attributes.editor{:name => "proposal_attributes"}
      = d
  - else
    %textarea#proposal_attributes{:name => "proposal_attributes", :rows=>10, :cols=>80}
      = d
     
