<%
  require 'uri'
  node ||= @node
  name = @name || node.name.split('.')[0]
  unless node[:crowbar].nil? or node[:crowbar][:network].nil? or node[:crowbar][:network][:admin].nil?
    ip = node[:crowbar][:network][:admin][:address] || "unknown"
  else
    ip = node[:ipaddress] || "unknown"
  end
  icon = node.state
  show_switch=false
  unless node[:crowbar].nil? or node[:crowbar][:switch_config].nil?
    show_switch=true
    sw_port = node.switch_port
    sw_unit = node.switch_unit
    sw_name = node.switch_name
    show_switch = false if sw_name == "-1"
  end
  state = icon.capitalize
%>
<td>
  <a onclick='$.colorbox({href:"/main/nodebox?id=<%= URI.escape(node.name, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>", width:"80%", height:"60%", scrolling:true});'>
    <img class="state" id="<%= name %>" src="/images/<%= icon %>.png" title="<%= state %>">
    <strong><%= name %></strong>
  </a>
</td>
<td><%= ip %></td>
<% if show_switch -%>
<td><%= sw_name %>  <%= sw_unit %>/<%= sw_port %></td>
<% else -%>
<td> - </td>
<% end -%>
<td>
<% unless name == "admin" -%>
<a href="/machines/reinstall?name=<%= name %>"><img src="/images/reinstall.png" title="Reinstall"/></a>
<a href="/machines/reset?name=<%= name %>"><img src="/images/delete.png" title="Reset"/></a>
<a href="/machines/identify?name=<%= name %>"><img src="/images/i_info.png" title="Identify"/></a>
<a href="/machines/reboot?name=<%= name %>"><img src="/images/reboot.jpeg" title="Reboot"/></a>
<a href="/machines/shutdown?name=<%= name %>"><img src="/images/shutdown.jpeg" title="Shutdown"/></a>
<a href="/machines/poweron?name=<%= name %>"><img src="/images/poweron.png" title="Power On"/></a>
<% end -%>
</td>

